body {
    background: #1b1717;
    font-family: 'Roboto', sans-serif;
    height: 100%;

}


.aiuda-logo{
    float: right;
    margin-top: 4px;
    margin-left: 50px;
    align-content: right;
    
}


.network-icon{
    float:right;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}
#network_status{
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    color: #810000;
}

.aiuda-back-button{
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    background:  #810000;
}

.header{
    height: 20vh;
}

.button-panel{
    height: 12vh;
    position: relative;
}

h5, h6{
  text-align: left;
}
h5{
  font-weight: bold;
}
.location-button{
    position: absolute;
    right: 10px;
    top: 5px;
    background:  #810000;
}

.upper-slot-button{
  position: absolute;
  left: 10px;
  top: 5px;
  background:  #810000;
}

.lower-slot-button{
  position: absolute;
  left: 10px;
  top: 40px;
  background:  #810000;
}


.monitor-button{
  position: absolute;
  left: 10px;
  top: 5px;
  background:  #810000;
}

.btn-start{
  background:  #810000;
}


.aiuda-table-container{
    height: 55vh;
    background:#eeebdd;
    color: #1b1717;
    
}


.name-column{
text-align: left;
}
.status-column{
  text-align: center;
}

input.largerCheckbox {
  width: 20px;
  height: 20px;
}

.Failed{
  background: #ce1212;
  color: #eeebdd;
}

.Done{
  background: #5b6d5b;
  color: #f6e6e4; 
}

.Waiting{
  background:  #eeebdd;
  color: #1b1717; 
}
.Cancelled{
  background: #687980;
  color: #fefecc;
}

.Delivering{
  background:  #1b1717;
  color: #eeebdd; 
}

.Arriving{
  background:  #5b8a72;
  color: #bfcba8; 
}

.Arrived{
  background:  #56776c;
  color: #464f41; 
}



.login-box {
    height: 100vh;
    background: #eeebdd;
    text-align: center;
    box-shadow: 0 3px 6px rgba(51, 0, 0, 0.938), 0 3px 6px rgba(51, 0, 0, 0.938);
}
.thead-color{
  background-color: #810000;
  color:#eeebdd;
}
.control-panel{
    height: 30vh;
    padding-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1717; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}



