<?xml version="1.0"?>
<launch>
    <!-- Run Mapping Code -->
     <include file="$(find hector_slam_launch)/launch/mapping_box.launch" />
     
     <!-- PointCloud to LaserScan -->
     <include file="$(find pointcloud_to_laserscan)/launch/no_camera.launch" />
     
     <!-- Estimate Pose of Hector SLAM-->
     <node pkg="set_point" name="set_point" type="2d_estimate.py" />


     <!-- Run the map server -->
     <arg name="map_file" default="/home/aiudabot/orb_catkin_ws/mymap.yaml"/>
     <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />    

</launch>
